@tailwind base;
@tailwind components;
@tailwind utilities;

.vc-color-wrap {
    border-radius: 50%;
    width: 1.25em !important;
    height: 1.25em !important;
    margin: 0 !important;
    box-shadow: none;
    vertical-align: text-bottom;
}