@tailwind base;
@tailwind components;
@tailwind utilities;

.vc-color-wrap.round {
    width: 1.25em !important;
    height: 1.25em !important;
    margin: 0 !important;
    border: 2px solid rgb(187 247 208) !important;
    box-shadow: none !important;
}